$highlight-colour:   rgb(225, 225, 225);
$text-body:          rgb(200, 200, 200);
$secondary-colour:   rgb(67, 67, 67);
$link-colour:        rgb(58, 170, 100);
$active-link-colour: rgb(46, 230, 113);
$bg-colour:          rgb(25, 25, 28);
$body-colour:        rgb(30, 33, 36);
$text-muted:         rgb(140, 140, 140);
$box-shadow:         0 .5rem 1rem rgba(#000, .2);
$warning-color:      #FFDD55;
