<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <footer th:fragment="footer">
            <div class="container text-center">
                Icons courtesy of
                <a href="https://devicon.dev/" rel="noreferrer" target="_blank">
                    Devicon
                    <img alt="Devicon"
                         class="footer-icon"
                         src="/assets/img/devicons/devicon/devicon-original.svg"
                         th:src="|/assets/img/devicons/devicon/devicon-original.svg|"/></a>,
                <a href="https://simpleicons.org/" rel="noreferrer" target="_blank">
                    Simple Icons
                    <img alt="Simple Icons"
                         class="footer-icon"
                         src="/assets/img/icons/simpleicons.svg"
                         th:src="|/assets/img/icons/simpleicons.svg|"></a>,
                and
                <a href="https://fontawesome.com/" rel="noreferrer" target="_blank">
                    Font Awesome
                    <img alt="Font Awesome"
                         class="footer-icon"
                         src="/assets/img/icons/fontawesome.svg"
                         th:src="|/assets/img/icons/fontawesome.svg|"></a>
                <p>
                    <small class="text-muted">
                        This project website is made with
                        <a href="https://github.com/solonovamax/solonovamax.gay/" rel="noreferrer" target="_blank">Open Source Software</a>.
                    </small>
                </p>
            </div>
        </footer>
    </body>
</html>
