<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="links" type="gay.solonovamax.website.config.Links"*/-->
    <body>
        <header th:fragment="header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6">
                        <img alt="profile image"
                             class="profile-image img-fluid float-start rounded-circle"
                             src="/assets/img/profile-picture.webp" th:src="|/assets/img/profile-picture.webp|"/>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="row profile-content">
                            <div class="name row">
                                <div class="col-auto">solonovamax</div>
                                <span class="col-md-auto col-sm-12 divider px-1 align-middle">|</span>
                                <span class="col-auto pronouns align-middle">he/she/they</span>
                            </div>
                            <h2 class="desc">Backend JVM Developer</h2>
                            <ul class="contact list-inline flex-wrap">
                                <li class="list-inline-item">
                                    <a aria-label="Twitter" th:href="${links.twitter}"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a aria-label="GitHub" th:href="${links.github}"><i class="fab fa-github"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a aria-label="GitLab" th:href="${links.gitlab}"><i class="fab fa-gitlab"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a aria-label="Discord Server" th:href="${links.discord}"><i class="fab fa-discord"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a aria-label="Reddit" th:href="${links.reddit}"><i class="fab fa-reddit"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a aria-label="YouTube" th:href="${links.youtube}"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a aria-label="Stack Overflow" th:href="${links.stackOverflow}">
                                        <i class="fab fa-stack-overflow"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a aria-label="Email" th:href="${links.email}"><i class="fas fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
