@use "style";
@use "base";
@use "project-cards";

.technical-skills {
    p {
        margin-bottom: 0;
    }
}

.languages {
    ul {
        columns: 3;
    }
}

.grouped-list {
    ul {
        columns: 3;
    }
}

.tooling {
    ul {
        columns: 3;
    }
}
