@use "style";

* {
    @include style.fira-sans;

    scroll-behavior: smooth;
}

body {
    @include style.fira-sans;

    color:                   style.$text-body;
    background:              style.$bg-colour;

    font-size:               16px;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height:             24px;

    transition:              1s;
}

a {
    color:           style.$link-colour;

    transition:      all 0.4s ease-in-out;
    text-decoration: none;

    &:hover {
        color: style.$active-link-colour;
    }
}

.link-no-colour {
    color: unset;
}

.main-content {
    .container {
        max-width: 960px;
    }
}

.section {
    margin-bottom: 30px;

    background:    style.$body-colour;
    color:         style.$text-body;
    padding:       30px;
}
